@media only screen and (max-width: 600px) {
    #chatbody{
        display: block;
        overflow-y: hidden;
    }
    #chatbox{
        width: 100%;
        margin-top: 30px;
    }
    #sendinput{
        width: 69%;
    }
}